@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0;font-size:1.4rem; font-family: inherit; line-height:1.6; color: #26282c; vertical-align: baseline; } /* 2022.10 레이아웃 변경건 */

@font-face{
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: normal;
  src: url('../font/NanumBarunGothic.eot');
  src: local('?'),
       url('../font/NanumBarunGothic.woff') format('woff'),
       url('../font/NanumBarunGothic.ttf') format('truetype');
}

html, body, input, button, select,textarea, td {font-size:1.4rem; font-family: AppleSDGothicNeo, "NanumBarunGothic", Dotum,"돋움",Helvetica, sans-serif; line-height:1.6; color: #484b51; padding:0; margin:0;} /* 2022.10 레이아웃 변경건 */
html {font-size:10px}
ul, ol {list-style:none}
em {font-style:normal}
a {text-decoration:none; color:#666; select-dummy:expression(this.hideFocus=true);-webkit-tap-highlight-color:transparent;}
button {border:0; background:none; box-sizing:border-box;outline:none;}
button {-webkit-touch-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;-user-select:none;}/*텍스트 복사금지*/
/*button {border:0; background:none; box-sizing:border-box; outline:none; select-dummy:expression(this.hideFocus=true);}*/
h1, h2, h3, h4 {color:#26282c;} /* 2022.10 레이아웃 변경건 */
h2 {font-size:1.6rem}
fieldset {border: none;}
legend, caption {display: none;}
button{ cursor:pointer;}
input, select{outline:none;}
table {border-spacing:0; border-collapse:collapse;}
.clear:after {display:block; clear:both; content:""}
*:focus{outline:none;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
input[type=text]::-webkit-input-placeholder{color:#26282c; opacity:1; -webkit-text-fill-color:#26282c; -webkit-opacity:1;}/* #aab0b8 2022.10 레이아웃 변경건 */
input[type=password]::-webkit-input-placeholder{color:#26282c; opacity:1; -webkit-text-fill-color:#26282c; -webkit-opacity:1;;}/* #aab0b8 2022.10 레이아웃 변경건 */
input[type=tel]::-webkit-input-placeholder{color:#26282c; opacity:1; -webkit-text-fill-color:#26282c; -webkit-opacity:1; font-weight:normal;}/* #aab0b8 2022.10 레이아웃 변경건 */
input[type=text]:-ms-input-placeholder{color:#26282c; opacity:1; -webkit-text-fill-color:#26282c; -webkit-opacity:1;}/* #aab0b8 2022.10 레이아웃 변경건 */
input[type=password]:-ms-input-placeholder{color:#26282c; opacity:1; -webkit-text-fill-color:#26282c; -webkit-opacity:1;}/* #aab0b8 2022.10 레이아웃 변경건 */
input[type=tel]:-ms-input-placeholder {color:#26282c; opacity:1; -webkit-text-fill-color:#26282c; -webkit-opacity:1; font-weight:normal;}/* #aab0b8 2022.10 레이아웃 변경건 */
html, body{padding-top:constant(safe-area-inset-top);padding-bottom:constant(safe-area-inset-bottom);padding-top:env(safe-area-inset-top);padding-bottom:env(safe-area-inset-bottom);}

/* 속성 제어 */
header .text{line-height: 55px;} /* 2022.10 레이아웃 변경건 : 기존 되던 소스 안되어서 수정 */
.flex_box{display: flex !important;} /* 기업디지털채널혁신 : 2022-03-15 추가 */
.align_item_c{align-items: center;} /* 기업디지털채널혁신 : 2022-03-15 추가 */
.justify_sb{justify-content: space-between;} /* 기업디지털채널혁신 : 2022-03-21 추가 */
.floatN {float:none !important}
.floatL {float:left !important; }
.floatR {float:right !important;}
.clear {display:block; clear:both; content:""}
.floatW {position:relative;width:100%;display:inline-block;box-sizing:border-box;}/*20180125 수정*/
.floatW:after {display:block; clear:both; content:""}
.bd_b {border-bottom:1px solid #ececec !important} /* 운영 추가 반영 */
.bd_b_d {border-bottom:1px solid #b2b2b2 !important}
.bd_b_d1 {border-bottom:1px solid #ddd9d1 !important}
.bd_b0 {border-bottom:0 !important}
.bd_t0 {border-top:0 !important}
.bd_t {border-top:1px solid #ebeef0 !important}/*20170928 수정*/ /* 2022.10 레이아웃 변경건 */
.bd_t2 {border-top: 1px solid #eaeaea;}/*20170928 수정*/
.bd_b {border-bottom:1px solid #ebeef0 !important}  /* 2022.10 레이아웃 변경건 */
.bd_t_d {border-top:1px solid #ebeef0 !important} /* 2022.10 레이아웃 변경건 */
.bd_b7{border-bottom-width: 7px !important;} /* 기업디지털채널혁신 : 2022-03-15 추가 */
.p_relative {position:relative; }
.bd_point {color:#f3553d !important;border-color:#dbdbdb !important;}
.alignR {text-align:right !important}
.alignL {text-align:left !important}
.alignC {text-align:center !important}
.inlinb { display:inline-block !important}
/*.hidden {display:none !important;} */ /*CDN과 다름 - 상품검색시에 화면처리 오류발생*/
.hidden {display:none}
.blind {overflow:hidden; position:absolute; height:0; width:0; line-height:0;  text-indent:-9999px; }
.bg_yellow {background-color:#fff8c1 !important;}
.bg_white{background-color:#fff !important;}
.bg_none {background:none !important;}
.w_full {width:100% !important;height:38px !important;margin:15px 0 0 0 !important;}
.zidx99{z-index:9999}
/* text */
.txt_left {text-align:left !important;}
.txt_right {text-align:right !important;}
.txt_top {vertical-align:top !important;}
.txt_middle {vertical-align:middle !important;}
.ls_1{letter-spacing:1px}
.txt_sup{position:relative;top:-3px;}  /* 기업디지털채널혁신 : 2022-04-28 추가 */
.font_b{font-weight: bold !important;}  /* 기업디지털채널혁신 : 2022-04-28 추가 */
.font_n{font-weight: normal!important;}  /* 기업디지털채널혁신 : 2024-01-15 추가 */

/*txt_color*/
.color_normal {color:#484b51 !important;} /* 2022.10 레이아웃 변경건 */
.color_gray {color:#79818c !important;} /* 2022.10 레이아웃 변경건 */
.color_lightgray {color:#999 !important;}
.color_black {color:#26282c !important;} /* 2022.10 레이아웃 변경건 */
.color_black2 {color:#333 !important;}

/*point_color*/
.point_blue {color:#0c70f5 !important;}/* blue */ /* 2022.10 레이아웃 변경건 */
.point_red {color:#e32502 !important;}/* red */ /* 2022.10 레이아웃 변경건 */
.point_color {color:#e32502 !important;font-size:1.3rem;}/* red */ /* 2022.10 레이아웃 변경건 */
.point_green {color:#29b9cb !important;}
.point_blue_deep {color:#0c70f5 !important;}/* blue */ /* 2022.10 레이아웃 변경건 */

/*wid*/
.wid4{width:4% !important;}
.wid33{width:33% !important;}
.wid333{width:33.33333% !important;}
.wid34{width:34% !important;}
.wid37{width:37% !important;}
.wid38{width:38% !important;} /* 기업디지털채널혁신 : 2022-03-14 추가 */
.wid45{width:45% !important;}
.wid48{width:48% !important;}
.wid49{width:49% !important;}
.wid50{width:50% !important;}
.wid52{width:52% !important;}
.wid62{width:62% !important;}
.wid67{width:67% !important;}
.wid65{width:65% !important;}
.wid71{width:71% !important;}
.wid70{width:70% !important;}
.wid78{width:78% !important;}
.wid100{width:100% !important;}
.wid130{width:130% !important;}
.wid150{width:150% !important;}
.wid160{width:160% !important;}
.wid190{width:190% !important;}
.wid350{width:350% !important;}

/*wid px*/
.wid70p {width:70px !important; }
.wid92p {width:92px !important; }
.wid50p {width:50px !important; }
.wid100p {width:100px !important; }
.wid120p {width:120px !important; }
.wid150p {width:150px !important; }
.wid184p {width:184px !important; }

/* padding, margin관련 */
.pd0 {padding:0 !important}
.pt0 {padding-top:0 !important}
.pb0 {padding-bottom:0 !important}
.pt3 {padding-top:3px !important}
.pt5 {padding-top:5px !important}
.pt6 {padding-top:6px !important}
.pt8 {padding-top:8px !important}
.pt15{padding-top:15px !important;}
.pt20 {padding-top:20px !important}
.pt24 {padding-top:24px !important}
.pt35 {padding-top:35px !important}
.pb4 {padding-bottom:4px !important}
.pb8 {padding-bottom:8px !important}
.pt10 {padding-top:10px !important}
.pb0 {padding-bottom:0px !important}
.pb10 {padding-bottom:10px !important}
.pb15 {padding-bottom:15px !important}
.pb20 {padding-bottom:20px !important}
.pb35 {padding-bottom:35px !important}
.pd15 {padding:15px !important}
.pt30 {padding-top:30px !important}
.pl0{padding-left:0px !important}
.pl6 {padding-left:6px !important}
.pl15 {padding-left:15px !important}
.pl30{padding-left:30px !important}/* 2021.05.24_추가 */
.pr4 {padding-right:4px !important}
.pr15 {padding-right:15px !important} /* 기업디지털채널혁신 : 2022-03-23 추가 */
.pd03{padding:3px}
.prl0 {padding-right:0 !important;padding-left:0 !important}
.prl5 {padding-right:5px !important;padding-left:5px !important;color: inherit;}
.mt0 {margin-top:0px !important}
.mt_4 {margin-top:4px !important}
.mt2 {margin-top:2px !important}
.mt5 {margin-top:5px !important}
.mt6 {margin-top:6px !important}
.mt8 {margin-top:8px !important}
.mt10 {margin-top:10px !important}
.mt12 {margin-top:12px !important}
.mt15 {margin-top:15px !important}
.mt16 {margin-top:16px !important}
.mt20 {margin-top:20px !important}
.mt30 {margin-top:30px !important}
.mt50 {margin-top:50px !important}
.mb0 {margin-bottom:0 !important}
.mb4 {margin-bottom:4px !important}
.mb5 {margin-bottom:5px !important}
.mb10 {margin-bottom:10px !important}
.mb15 {margin-bottom:15px !important}
.mb20 {margin-bottom:20px !important}
.mb55 {margin-bottom:55px !important}
.mt-5 {margin-top:-5px !important;}
.mt-10 {margin-top:-10px !important;}
.mt-15 {margin-top:-15px !important;}
.mt-30 {margin-top:-30px !important;}
.ml5 {margin-left:5px !important}
.ml5 {margin-left:5px !important}
.ml25{margin-left:25px !important}/* 2021.07.27_추가 */
.mr25{margin-right:25px !important}/* 2021.07.27_추가 */
.mr40{margin-right:40px !important}/* 2023.12.06_추가 */
.mglr-10 {margin:0 -10px !important;}
.h150 {height:150px !important}
.h200 {height:200px !important}
.h300 {height:300px !important}
.hi_auto {height:auto !important}
.mh120{max-height:120px !important}